body {
                background: linear-gradient(to right, #424242, #343434);
            }

            strong {
                font-weight: 600;
                word-spacing: 4px;
                line-height: 2px;
            }

            p {
                font-family: Montserrat;
                margin-top: 0px;
                margin-bottom: 0px;
                color: white;
            }

            .welcome {
                text-align: center;
            }
            .layout {
                border-style: solid;
                border-radius: 15px;
                border-color: rgb(255, 255, 255);
                border-width: 0px;
                box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
                margin: 5%;
                display: grid;
                grid-template-rows: 0.5fr 270px 0.4fr 0.1fr 0.6fr 1fr 0.23fr;
            }

            .wel {
                margin-top: 10%;
                margin-bottom: 8px;
            }

            .name {
                margin-bottom: 70px;
                opacity: 0.8;
                font-size: 20px;
            }

            .image {
                width: 100%;
                display: block;
                margin: 0 auto;
                border-radius: 11px;
                border-style: solid;
                border-width: 2px;
                border-color: rgb(255, 255, 255);
                box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
            }

            .image-div {
                margin-top: px;
                width: 160px;
                height: 160px;
                display: block;
                margin: 0 auto;
                border-radius: 5px;
            }

            .author {
                text-align: center;
                font-weight: 500;
                opacity: 0.9;
                font-size: 30px;
                display: block;
                margin: 0 auto;
                border-radius: 10px;
                padding: 5px;
                width: 150px;
                color: white;
                background-color: gray;
                border-color: rgb(255, 255, 255);
                border-style: solid;
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
                font-weight: 550;
                margin-bottom: 3%;
                transition: margin-bottom 0.7s, opacity 0.4s, width 0.4s, height 0.4s, box-shadow 0.4s;
            }

            .author:hover {
                opacity: 0.8;
                width: 157px;
                height: 55px;
                margin-bottom: 2.4%;
                box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
            }

            .author-name {
                text-align: center;
                font-size: 35px;
                font-weight: bold;
                margin-bottom: 17px;
            }

            .intro {
                text-align: center;
                width: 550px;
                display: block;
                margin: 0 auto;
                font-size: 16.5px;
                margin-bottom: 105px;
                font-weight: 450;
                opacity: 0.94;
            }

            .portfolio {
                border-color: rgb(76, 76, 76);
                border-style: solid;
                border-radius: 25px;
                margin: 4%;
                color: white;
                background-color: gray;
                padding: 2.5%;
                padding-right: 10px;
                background-color: rgb(82, 82, 82);;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
            }

            button {
                text-align: center;
                display: block;
                margin: 0 auto;
                padding: 90px;
                cursor: pointer;
            }

            .project,
            .expert,
            .achivements, 
            .education {
                width: 80%;
                height: 100%;
                padding: 0.1%;
                cursor: pointer;
                border-radius: 20px;
                border-style: solid;
                border-color: rgb(255, 255, 255);
                background-color: rgb(244, 244, 244);
                transition: height 0.3s, margin-top 1s, width 0.3s, box-shadow 0.3s, background-color 0.3s;
                box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
            }

            .project:hover,
            .expert:hover,
            .achivements:hover, 
            .education:hover {
                width: 88%;
                box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
                background-color: rgb(237, 237, 237);
            }

            .portfolio-div {
                border-style: solid;
                display: block;
                margin: 0 auto;
                color: white;
                background-color: gray;
                height: 40px;
                text-align: center;
                font-weight: 500;
                cursor: pointer;
                opacity: 0.86;
                font-size: 30px;
                border-radius: 10px;
                padding: 5.5px;
                width: 150px;
                border-color: rgb(255, 255, 255);
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
                font-weight: 550;
                padding-top: 6px;
                margin-bottom: 15px;
                transition: margin-bottom 1s, width 0.4s, height 0.4s, box-shadow 0.4s, padding 0.4s;
            }

            .portfolio-div:hover {
                width: 160px;
                height: 45px;
                box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
                padding: 3px;
                margin-bottom: 0px;
            }

            .port-text {
                padding: 3.3px;
            }

            .education-img {
                height: 84px;
                object-position: center;
                display: block;
                margin: 0 auto;
                margin-bottom: 8px;
            }

            .achivements-img {
                height: 81px;
                object-position: center;
                display: block;
                margin: 0 auto;
                margin-bottom: 10px;
                margin-top: 5px;
            }

            .expert-img {
                height: 81px;
                object-position: center;
                display: block;
                margin: 0 auto;
                margin-bottom: 10px;
                margin-top: 5px;
            }

            .project-img {
                height: 76px;
                object-position: center;
                display: block;
                margin: 0 auto;
                margin-bottom: 5px;
                margin-top: 8px;
            }


            .project-link,
            .expert-link,
            .achivements-link,
            .education-link {
                font-size: 17px;
                font-weight: 500;
                opacity: 0.8;
                text-decoration: none;
                opacity: 0.7;
                margin-bottom: 6%;
            }

            .contact {
                padding: 0%;
                margin-top: 0%;
                text-align: center;
                font-weight: 500;
                opacity: 0.9;
                margin-bottom: 0%;
                font-size: 25px;
                border-radius: 10px;
                width: 30%;
                color: white;
                background-color: gray;
                height: 50px;
                border-color: rgb(255, 255, 255);
                border-style: solid;
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
                font-weight: 550;
                transition: margin-bottom 0.7s, opacity 0.4s, width 0.4s, height 0.4s, box-shadow 0.4s;
            }

            .github-div,
            .phone-div,
            .address-div,
            .email-div {
                margin-left: 3.5%;
                display: grid;
                grid-template-columns: 58px 1fr;
            }

            .contact:hover {
                opacity: 0.8;
                width: 30%;
                height: 55px;
                margin-bottom: 2.4%;
                box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
            }

            .contact-div {
                border-color: rgb(76, 76, 76);
                border-style: solid;
                border-radius: 25px;
                margin: 7%;
                padding: 2.5%;
                padding-right: 10px;
                background-color: rgb(82, 82, 82);
                box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
                display: grid;
                grid-template-rows: 80px 0.01fr 0.01fr 0.01fr 0.01fr;
            }

            .phone-img {
                width: 40px;
                margin: 0.5%;
                margin-left: 0%;
                margin-top: 0.5%;
                margin-bottom: 0%;
            }

            .email-img {
                width: 40px;
                margin: 0.5%;
                margin-left: 3%;
                margin-top: 0%;
            }

            .address-img {
                width: 30px;
                margin: 0.5%;
                margin-left: 12%;
                margin-top: 8%;
            }

            .github-img {
                width: 23px;
                margin: 0.5%;
                margin-left: 18%;
                margin-top: 22%;
            }

            a {
                font-family: Montserrat;
                font-size: 15px;
            }

            .phone {
                font-size: 15px;
                display: inline-block;
                font-family: Montserrat;
                margin-top: 11px;
            }

            .address {
                font-size: 15px;
                display: inline-block;
                font-family: Montserrat;
                margin-top: 8.5px;
            }

            .github {
                font-size: 15px;
                margin-top: 13px;
                margin-left: 1px;
            }

            .email {
                font-size: 15px;
                margin-top: 7.5px;
            }

            .end1 {
                text-align: center;
                font-weight: 500;
            }

            .end-img {
                margin-left: 85%;
                width: 24px;
                margin-right: 0px;
            }

            .end2 {
                display: inline-block;
                margin-left: px;
                margin-top: 2.5px;
                font-size: 15px;
            }

            .end{
                word-spacing: 0px;                
                font-weight: 450;
            }

            .welcome-layout {
                display: grid;
                grid-template-columns: 1fr 5fr 1fr;
            }

            .dark-img {
                width: 30%;
                display: block;
                border-radius: 100px;
                margin: 0 auto;
            }

            .Dark {
                text-align: center;
                margin-top: 20%;
                margin-bottom: 3.5%;
                font-weight: 600;
                margin-right: 10px;
                font-size: 20px;
            }

            .dark-button {
                padding: 0px;
                border-radius: 100px;
                margin-right: 10px;
                border-style: none;
                background: linear-gradient(to right, #363636, #343434);
            }

            a {
                text-decoration:none;
            }